# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

database.js

report.*.json

*.DS_Store

.gitignore

webapp/node_modules/

webapp/import/data/

variables.js
crawledData2.json
crawledData3.json
crawledData4.json
crawledData5.json
crawledData6.json
crawledData7.json
crawledData8.json
crawledData9.json
crawledData10.json
crawledData11.json
crawledData12.json
crawledData13.json
crawledData14.json
crawledData15.json
crawledData16.json
crawledData17.json
crawledData18.json
crawledData19.json
crawledData20.json
crawledData21.json
crawledData22.json
crawledData23.json
crawledData24.json
reactapp/frontend/src/data/statdata_large.json
reactapp/frontend/src/data/statdata.json
