# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

database.js

report.*.json

*.DS_Store

.gitignore

webapp/node_modules/

webapp/import/data/

variables.js

data/CITES_Species.csv

data/material.csv

*.csv

*.sql

reactapp/frontend/src/components/telecouplingreact.code-workspace
reactapp/frontend/src/data/crawledData2.json
reactapp/frontend/src/data/crawledData3.json
reactapp/frontend/src/data/crawledData4.json
reactapp/frontend/src/data/crawledData5.json
reactapp/frontend/src/data/crawledData6.json
reactapp/frontend/src/data/crawledData7.json
reactapp/frontend/src/data/crawledData8.json
reactapp/frontend/src/data/crawledData9.json
reactapp/frontend/src/data/crawledData10.json
reactapp/frontend/src/data/crawledData11.json
reactapp/frontend/src/data/crawledData12.json
reactapp/frontend/src/data/crawledData13.json
reactapp/frontend/src/data/crawledData14.json
reactapp/frontend/src/data/crawledData15.json
reactapp/frontend/src/data/crawledData16.json
reactapp/frontend/src/data/crawledData17.json
reactapp/frontend/src/data/crawledData18.json
reactapp/frontend/src/data/crawledData19.json
reactapp/frontend/src/data/crawledData20.json
reactapp/frontend/src/data/crawledData21.json
reactapp/frontend/src/data/crawledData22.json
reactapp/frontend/src/data/crawledData23.json
reactapp/frontend/src/data/crawledData24.json
reactapp/frontend/src/data/statdata_large.json
reactapp/frontend/src/data/statdata.json
reactapp/frontend/public/species/
reactapp/backend/public/species/
reactapp/frontend/src/data/
reactapp/frontend/public/capitals.geo.json
reactapp/frontend/public/countries10m.geo.json
reactapp/frontend/public/hotspots_2011_polygons-2.json
reactapp/frontend/public/Terrestrial_Ecoregions_World-4.json
data/treeData/Eucalyptus_abdita.json
data/treeData/Eucalyptus_absita.json
data/treeData/Eucalyptus_acaciiformis.json
data/treeData/Eucalyptus_accedens.json
data/treeData/Eucalyptus_acies.json
data/treeData/Eucalyptus_acmenoides.json
data/treeData/Eucalyptus_acroleuca.json
data/treeData/Eucalyptus_adesmophloia.json
data/treeData/Eucalyptus_aenea.json
data/treeData/Eucalyptus_aequans.json
data/treeData/Eucalyptus_aequioperta.json
data/treeData/Eucalyptus_affinis.json
data/treeData/Eucalyptus_agglomerata.json
data/treeData/Eucalyptus_aggregata.json
data/treeData/Eucalyptus_alaticaulis.json
data/treeData/Eucalyptus_alba.json
data/treeData/Eucalyptus_albens.json
data/treeData/Eucalyptus_albida.json
data/treeData/Eucalyptus_albopurpurea.json
data/treeData/Eucalyptus_alipes.json
data/treeData/Eucalyptus_alligatrix.json
data/treeData/Eucalyptus_alpina.json
data/treeData/Eucalyptus_americana.json
data/treeData/Eucalyptus_ammophila.json
data/treeData/Eucalyptus_amoena.json
data/treeData/Eucalyptus_amplifolia.json
data/treeData/Eucalyptus_amygdalina.json
data/treeData/Eucalyptus_anceps.json
data/treeData/Eucalyptus_ancophila.json
data/treeData/Eucalyptus_andrewsii.json
data/treeData/Eucalyptus_angophoroides.json
data/treeData/Eucalyptus_angularis.json
data/treeData/Eucalyptus_angulosa.json
data/treeData/Eucalyptus_angustifolia.json
data/treeData/Eucalyptus_angustissima.json
data/treeData/Eucalyptus_annettae.json
data/treeData/Eucalyptus_annulata.json
data/treeData/Eucalyptus_annuliformis.json
data/treeData/Eucalyptus_anomala.json
data/treeData/Eucalyptus_apiculata.json
data/treeData/Eucalyptus_apodophylla.json
data/treeData/Eucalyptus_apothalassica.json
data/treeData/Eucalyptus_approximans.json
data/treeData/Eucalyptus_aquilina.json
data/treeData/Eucalyptus_arachnaea.json
data/treeData/Eucalyptus_arborella.json
data/treeData/Eucalyptus_arcana.json
data/treeData/Eucalyptus_archeri.json
data/treeData/Eucalyptus_arenacea.json
data/treeData/Eucalyptus_arenicola.json
data/treeData/Eucalyptus_argillacea.json
data/treeData/Eucalyptus_argophloia.json
data/treeData/Eucalyptus_argutifolia.json
data/treeData/Eucalyptus_argyphea.json
data/treeData/Eucalyptus_aridimontana.json
data/treeData/Eucalyptus_armillata.json
data/treeData/Eucalyptus_aromaphloia.json
data/treeData/Eucalyptus_articulata.json
data/treeData/Eucalyptus_aspersa.json
data/treeData/Eucalyptus_aspratilis.json
data/treeData/Eucalyptus_assimilans.json
data/treeData/Eucalyptus_astringens.json
data/treeData/Eucalyptus_atrata.json
data/treeData/Eucalyptus_attenuata.json
data/treeData/Eucalyptus_aurifodina.json
data/treeData/Eucalyptus_badjensis.json
data/treeData/Eucalyptus_baeuerlenii.json
data/treeData/Eucalyptus_baileyana.json
data/treeData/Eucalyptus_baiophylla.json
data/treeData/Eucalyptus_bakeri.json
data/treeData/Eucalyptus_balanites.json
data/treeData/Eucalyptus_balanopelex.json
data/treeData/Eucalyptus_balladoniensis.json
data/treeData/Eucalyptus_bancroftii.json
data/treeData/Eucalyptus_banksii.json
data/treeData/Eucalyptus_barberi.json
data/treeData/Eucalyptus_baueriana.json
data/treeData/Eucalyptus_baxteri.json
data/treeData/Eucalyptus_beaniana.json
data/treeData/Eucalyptus_beardiana.json
data/treeData/Eucalyptus_beaselyi.json
data/treeData/Eucalyptus_behriana.json
data/treeData/Eucalyptus_bennettiae.json
data/treeData/Eucalyptus_bensonii.json
data/treeData/Eucalyptus_benthamii.json
data/treeData/Eucalyptus_beyeri.json
data/treeData/Eucalyptus_beyeriana.json
data/treeData/Eucalyptus_biangularis.json
data/treeData/Eucalyptus_bicolor.json
data/treeData/Eucalyptus_bigalerita.json
data/treeData/Eucalyptus_bipileata.json
data/treeData/Eucalyptus_biterranea.json
data/treeData/Eucalyptus_biturbinata.json
data/treeData/Eucalyptus_blakelyi.json
data/treeData/Eucalyptus_blaxellii.json
data/treeData/Eucalyptus_blaxlandii.json
data/treeData/Eucalyptus_boliviana.json
data/treeData/Eucalyptus_boormanii.json
data/treeData/Eucalyptus_bosistoana.json
data/treeData/Eucalyptus_botryoides.json
data/treeData/Eucalyptus_brachyandra.json
data/treeData/Eucalyptus_brachycalyx.json
data/treeData/Eucalyptus_brachycorys.json
data/treeData/Eucalyptus_brachyphylla.json
data/treeData/Eucalyptus_brandiana.json
data/treeData/Eucalyptus_brassiana.json
data/treeData/Eucalyptus_brevifolia.json
data/treeData/Eucalyptus_brevipes.json
data/treeData/Eucalyptus_brevirostris.json
data/treeData/Eucalyptus_brevistylis.json
data/treeData/Eucalyptus_bridgesiana.json
data/treeData/Eucalyptus_brockwayi.json
data/treeData/Eucalyptus_brookeriana.json
data/treeData/Eucalyptus_broviniensis.json
data/treeData/Eucalyptus_brownii.json
data/treeData/Eucalyptus_brunnea.json
data/treeData/Eucalyptus_bucknellii.json
data/treeData/Eucalyptus_bunyip.json
data/treeData/Eucalyptus_buprestium.json
data/treeData/Eucalyptus_burdettiana.json
data/treeData/Eucalyptus_burgessiana.json
data/treeData/Eucalyptus_burracoppinensis.json
data/treeData/Eucalyptus_cadens.json
data/treeData/Eucalyptus_caesia.json
data/treeData/Eucalyptus_calcareana.json
data/treeData/Eucalyptus_calcicola.json
data/treeData/Eucalyptus_caleyi.json
data/treeData/Eucalyptus_caliginosa.json
data/treeData/Eucalyptus_callanii.json
data/treeData/Eucalyptus_calycogona.json
data/treeData/Eucalyptus_calyerup.json
data/treeData/Eucalyptus_camaldulensis.json
data/treeData/Eucalyptus_cambageana.json
data/treeData/Eucalyptus_cameronii.json
data/treeData/Eucalyptus_camfieldii.json
data/treeData/Eucalyptus_campanifructa.json
data/treeData/Eucalyptus_campaspe.json
data/treeData/Eucalyptus_camphora.json
data/treeData/Eucalyptus_canaliculata.json
data/treeData/Eucalyptus_canescens.json
data/treeData/Eucalyptus_canobolensis.json
data/treeData/Eucalyptus_capillosa.json
data/treeData/Fraxinus_yukonensis.json
data/treeData/splitTreeData.py
data/capitals.geo.json
data/countries10m.geo.json
data/crawledDataNew1.json
data/crawledDataNew2.json
data/crawledDataNew3.json
data/crawledDataNew4.json
data/crawledDataNew5.json
data/crawledDataNew6.json
data/crawledDataNew7.json
data/crawledDataNew8.json
data/crawledDataNew9.json
data/crawledDataNew10.json
data/crawledDataNew11.json
data/crawledDataNew12.json
data/crawledDataNew13.json
data/crawledDataNew14.json
data/crawledDataNew15.json
data/crawledDataNew16.json
data/crawledDataNew17.json
data/crawledDataNew18.json
data/crawledDataNew19.json
data/crawledDataNew20.json
data/Eucalyptus_bancroftii.json
data/hotspots_2011_polygons-2.json
data/statdata.json
data/Terrestrial_Ecoregions_World-4.json
data/timelinedata.json
data/species/_threats.json
data/species/_trades.json
data/species/.json
data/species/Abies_alba_threats.json
data/species/Abies_alba_trades.json
data/species/Abies_alba.json
data/species/Acacia_heterophylla_threats.json
data/species/Acacia_heterophylla_trades.json
data/species/Acacia_heterophylla.json
data/species/Acacia_koa_threats.json
data/species/Acacia_koa_trades.json
data/species/Acacia_koa.json
data/species/Acacia_senegal_threats.json
data/species/Acacia_senegal_trades.json
data/species/Acacia_senegal.json
data/species/Acacia_seyal_threats.json
data/species/Acacia_seyal_trades.json
data/species/Acacia_seyal.json
data/species/Acer_pseudoplatanus_threats.json
data/species/Acer_pseudoplatanus_trades.json
data/species/Acer_pseudoplatanus.json
data/species/Acer_saccharum_threats.json
data/species/Acer_saccharum_trades.json
data/species/Acer_saccharum.json
data/species/Acer_threats.json
data/species/Acer_trades.json
data/species/Acer.json
data/species/Agathis_dammara_threats.json
data/species/Agathis_dammara_trades.json
data/species/Agathis_dammara.json
data/species/Alkanna_tinctoria_threats.json
data/species/Alkanna_tinctoria_trades.json
data/species/Alkanna_tinctoria.json
data/species/Apis_trades.json
data/species/Apis.json
data/species/Appis_trades.json
data/species/Appis.json
data/species/Araucaria_angustifolia_threats.json
data/species/Araucaria_angustifolia_trades.json
data/species/Araucaria_angustifolia.json
data/species/Arundo_donax_threats.json
data/species/Arundo_donax_trades.json
data/species/Arundo_donax.json
data/species/Astronium_fraxinifolium_threats.json
data/species/Astronium_fraxinifolium_trades.json
data/species/Astronium_fraxinifolium.json
data/species/Balaena_trades.json
data/species/Balaena.json
data/species/Balaenoptera_trades.json
data/species/Balaenoptera.json
data/species/Betula_pendula_threats.json
data/species/Betula_pendula_trades.json
data/species/Betula_pendula.json
data/species/Betula_threats.json
data/species/Betula_trades.json
data/species/Betula.json
data/species/Bombyx_mori_threats.json
data/species/Bombyx_mori_trades.json
data/species/Bombyx_mori.json
data/species/Bos_taurus_threats.json
data/species/Bos_taurus_trades.json
data/species/Bos_taurus.json
data/species/Brosimum_guianense_threats.json
data/species/Brosimum_guianense_trades.json
data/species/Brosimum_guianense.json
data/species/Brosimum_rubescens_threats.json
data/species/Brosimum_rubescens_trades.json
data/species/Brosimum_rubescens.json
data/species/Brosmium_guianense_threats.json
data/species/Brosmium_guianense_trades.json
data/species/Brosmium_guianense.json
data/species/Bubalus_bubalis_threats.json
data/species/Bubalus_bubalis_trades.json
data/species/Bubalus_bubalis.json
data/species/Buxus_sempervirens_threats.json
data/species/Buxus_sempervirens_trades.json
data/species/Buxus_sempervirens.json
data/species/Caesalpinia_sappan_threats.json
data/species/Caesalpinia_sappan_trades.json
data/species/Caesalpinia_sappan.json
data/species/Canarium_luzonicum_threats.json
data/species/Canarium_luzonicum_trades.json
data/species/Canarium_luzonicum.json
data/species/Capra_aegagrus_hircus_threats.json
data/species/Capra_aegagrus_hircus_trades.json
data/species/Capra_aegagrus_hircus.json
data/species/Carpinus_betulus_threats.json
data/species/Carpinus_betulus_trades.json
data/species/Carpinus_betulus.json
data/species/Carya_threats.json
data/species/Carya_trades.json
data/species/Carya.json
data/species/Cedrus_threats.json
data/species/Cedrus_trades.json
data/species/Cedrus.json
data/species/Colophospermum_mopane_threats.json
data/species/Colophospermum_mopane_trades.json
data/species/Colophospermum_mopane.json
data/species/Cordia_dodecandra_threats.json
data/species/Cordia_dodecandra_trades.json
data/species/Cordia_dodecandra.json
data/species/Corylus_colurna_threats.json
data/species/Corylus_colurna_trades.json
data/species/Corylus_colurna.json
data/species/Crocus_sativus_threats.json
data/species/Crocus_sativus_trades.json
data/species/Crocus_sativus.json
data/species/Curcuma_longa_threats.json
data/species/Curcuma_longa_trades.json
data/species/Curcuma_longa.json
data/species/Dactylopius_coccus_threats.json
data/species/Dactylopius_coccus_trades.json
data/species/Dactylopius_coccus.json
data/species/Dalbergia_cearensis_threats.json
data/species/Dalbergia_cearensis_trades.json
data/species/Dalbergia_cearensis.json
data/species/Dalbergia_decipularis_threats.json
data/species/Dalbergia_decipularis_trades.json
data/species/Dalbergia_decipularis.json
data/species/Dalbergia_latifolia_threats.json
data/species/Dalbergia_latifolia_trades.json
data/species/Dalbergia_latifolia.json
data/species/Dalbergia_melanoxylon_threats.json
data/species/Dalbergia_melanoxylon_trades.json
data/species/Dalbergia_melanoxylon.json
data/species/Dalbergia_nigra_threats.json
data/species/Dalbergia_nigra_trades.json
data/species/Dalbergia_nigra.json
data/species/Dalbergia_retusa_threats.json
data/species/Dalbergia_retusa_trades.json
data/species/Dalbergia_retusa.json
data/species/Dalbergia_stevensonii_threats.json
data/species/Dalbergia_stevensonii_trades.json
data/species/Dalbergia_stevensonii.json
data/species/Dalbergia_threats.json
data/species/Dalbergia_trades.json
data/species/Dalbergia.json
data/species/Diospyros_celebica_threats.json
data/species/Diospyros_celebica_trades.json
data/species/Diospyros_celebica.json
data/species/Diospyros_crassiflora_threats.json
data/species/Diospyros_crassiflora_trades.json
data/species/Diospyros_crassiflora.json
data/species/Diospyros_ebenum_threats.json
data/species/Diospyros_ebenum_trades.json
data/species/Diospyros_ebenum.json
data/species/Diospyros_threats.json
data/species/Diospyros_trades.json
data/species/Diospyros.json
data/species/Diosypros_trades.json
data/species/Diosypros.json
data/species/Dracaena_cinnabari_threats.json
data/species/Dracaena_cinnabari_trades.json
data/species/Dracaena_cinnabari.json
data/species/Elephas_trades.json
data/species/Elephas.json
data/species/Entandrophragma_cylindricum_threats.json
data/species/Entandrophragma_cylindricum_trades.json
data/species/Entandrophragma_cylindricum.json
data/species/Equus_caballus_threats.json
data/species/Equus_caballus_trades.json
data/species/Equus_caballus.json
data/species/Eretmochelys_imbricata_threats.json
data/species/Eretmochelys_imbricata_trades.json
data/species/Eretmochelys_imbricata.json
data/species/Eschrichtius_trades.json
data/species/Eschrichtius.json
data/species/Eubalaena_trades.json
data/species/Eubalaena.json
data/species/Eucalyptus_threats.json
data/species/Eucalyptus_trades.json
data/species/Eucalyptus.json
data/species/Fagus_silvatica_threats.json
data/species/Fagus_silvatica_trades.json
data/species/Fagus_silvatica.json
data/species/Fagus_sylvatica_threats.json
data/species/Fagus_sylvatica_trades.json
data/species/Fagus_sylvatica.json
data/species/Fagus_threats.json
data/species/Fagus_trades.json
data/species/Fagus.json
data/species/Fraxinus_threats.json
data/species/Fraxinus_trades.json
data/species/Fraxinus.json
data/species/Garcinia_morella_threats.json
data/species/Garcinia_morella_trades.json
data/species/Garcinia_morella.json
data/species/Guibourtia_demeusei_threats.json
data/species/Guibourtia_demeusei_trades.json
data/species/Guibourtia_demeusei.json
data/species/Guibourtia_ehie_threats.json
data/species/Guibourtia_ehie_trades.json
data/species/Guibourtia_ehie.json
data/species/Haematoxylum_campechianum_threats.json
data/species/Haematoxylum_campechianum_trades.json
data/species/Haematoxylum_campechianum.json
data/species/Haliotis_asinina_threats.json
data/species/Haliotis_asinina_trades.json
data/species/Haliotis_asinina.json
data/species/Haliotis_fulgans_threats.json
data/species/Haliotis_fulgans_trades.json
data/species/Haliotis_fulgans.json
data/species/Haliotis_gigantia_threats.json
data/species/Haliotis_gigantia_trades.json
data/species/Haliotis_gigantia.json
data/species/Haliotis_iris_threats.json
data/species/Haliotis_iris_trades.json
data/species/Haliotis_iris.json
data/species/Haliotis_trades.json
data/species/Haliotis.json
data/species/Hevea_brasiliensis_threats.json
data/species/Hevea_brasiliensis_trades.json
data/species/Hevea_brasiliensis.json
data/species/Hymenaea_courbaril_threats.json
data/species/Hymenaea_courbaril_trades.json
data/species/Hymenaea_courbaril.json
data/species/Juglans_nigra_threats.json
data/species/Juglans_nigra_trades.json
data/species/Juglans_nigra.json
data/species/Juglans_regia_threats.json
data/species/Juglans_regia_trades.json
data/species/Juglans_regia.json
data/species/Kermes_vermilio_threats.json
data/species/Kermes_vermilio_trades.json
data/species/Kermes_vermilio.json
data/species/Kerria_lacca_threats.json
data/species/Kerria_lacca_trades.json
data/species/Kerria_lacca.json
data/species/Larix_decidua_threats.json
data/species/Larix_decidua_trades.json
data/species/Larix_decidua.json
data/species/Lavandula_latifolia_threats.json
data/species/Lavandula_latifolia_trades.json
data/species/Lavandula_latifolia.json
data/species/Linum_usitatissimum_threats.json
data/species/Linum_usitatissimum_trades.json
data/species/Linum_usitatissimum.json
data/species/Loxodonta_trades.json
data/species/Loxodonta.json
data/species/Macropus_trades.json
data/species/Macropus.json
data/species/Mammuthus_primigenius_threats.json
data/species/Mammuthus_primigenius_trades.json
data/species/Mammuthus_primigenius.json
data/species/Mammuthus_trades.json
data/species/Mammuthus.json
data/species/Manilkara_bidentata_threats.json
data/species/Manilkara_bidentata_trades.json
data/species/Manilkara_bidentata.json
data/species/Manilkara_fasciculata_threats.json
data/species/Manilkara_fasciculata_trades.json
data/species/Manilkara_fasciculata.json
data/species/Manilkara_kauki_threats.json
data/species/Manilkara_kauki_trades.json
data/species/Manilkara_kauki.json
data/species/Megaptera_trades.json
data/species/Megaptera.json
data/species/Musanga_cecropioides_threats.json
data/species/Musanga_cecropioides_trades.json
data/species/Musanga_cecropioides.json
data/species/Nothofagus_cunninghamii_threats.json
data/species/Nothofagus_cunninghamii_trades.json
data/species/Nothofagus_cunninghamii.json
data/species/Olea_europaea_threats.json
data/species/Olea_europaea_trades.json
data/species/Olea_europaea.json
data/species/Ovis_gmelini_aries_threats.json
data/species/Ovis_gmelini_aries_trades.json
data/species/Ovis_gmelini_aries.json
data/species/Paubrasilia_echinata_threats.json
data/species/Paubrasilia_echinata_trades.json
data/species/Paubrasilia_echinata.json
data/species/Peltogyne_threats.json
data/species/Peltogyne_trades.json
data/species/Peltogyne.json
data/species/Picea_abies_threats.json
data/species/Picea_abies_trades.json
data/species/Picea_abies.json
data/species/Picea_sitchensis_threats.json
data/species/Picea_sitchensis_trades.json
data/species/Picea_sitchensis.json
data/species/Pinctada_maxima_threats.json
data/species/Pinctada_maxima_trades.json
data/species/Pinctada_maxima.json
data/species/Pinus_lambertiana_threats.json
data/species/Pinus_lambertiana_trades.json
data/species/Pinus_lambertiana.json
data/species/Pinus_palustris_threats.json
data/species/Pinus_palustris_trades.json
data/species/Pinus_palustris.json
data/species/Pinus_sylvestris_threats.json
data/species/Pinus_sylvestris_trades.json
data/species/Pinus_sylvestris.json
data/species/Pinus_threats.json
data/species/Pinus_trades.json
data/species/Pinus.json
data/species/Pistacia_lentiscus_threats.json
data/species/Pistacia_lentiscus_trades.json
data/species/Pistacia_lentiscus.json
data/species/Populus_alba_threats.json
data/species/Populus_alba_trades.json
data/species/Populus_alba.json
data/species/Porphyrophora_hamelli_threats.json
data/species/Porphyrophora_hamelli_trades.json
data/species/Porphyrophora_hamelli.json
data/species/Porphyrophora_polinica_threats.json
data/species/Porphyrophora_polinica_trades.json
data/species/Porphyrophora_polinica.json
data/species/Prunus_cerasus_threats.json
data/species/Prunus_cerasus_trades.json
data/species/Prunus_cerasus.json
data/species/Prunus_domestica_threats.json
data/species/Prunus_domestica_trades.json
data/species/Prunus_domestica.json
data/species/Prunus_pradus_threats.json
data/species/Prunus_pradus_trades.json
data/species/Prunus_pradus.json
data/species/Prunus_serotina_threats.json
data/species/Prunus_serotina_trades.json
data/species/Prunus_serotina.json
data/species/Pterocarpus_threats.json
data/species/Pterocarpus_trades.json
data/species/Pterocarpus.json
data/species/Pyrus_communis_threats.json
data/species/Pyrus_communis_trades.json
data/species/Pyrus_communis.json
data/species/Quercus_alba_threats.json
data/species/Quercus_alba_trades.json
data/species/Quercus_alba.json
data/species/Quercus_suber_threats.json
data/species/Quercus_suber_trades.json
data/species/Quercus_suber.json
data/species/Ricinus_communis_threats.json
data/species/Ricinus_communis_trades.json
data/species/Ricinus_communis.json
data/species/Rubia_tinctorum_threats.json
data/species/Rubia_tinctorum_trades.json
data/species/Rubia_tinctorum.json
data/species/Salix_threats.json
data/species/Salix_trades.json
data/species/Salix.json
data/species/Santalum_album_threats.json
data/species/Santalum_album_trades.json
data/species/Santalum_album.json
data/species/Senegalia_catechu_threats.json
data/species/Senegalia_catechu_trades.json
data/species/Senegalia_catechu.json
data/species/Sepia_trades.json
data/species/Sepia.json
data/species/Sequoia_sempervirens_threats.json
data/species/Sequoia_sempervirens_trades.json
data/species/Sequoia_sempervirens.json
data/species/splitData.py
data/species/Strychnos_colubrine_threats.json
data/species/Strychnos_colubrine_trades.json
data/species/Strychnos_colubrine.json
data/species/Styrax_threats.json
data/species/Styrax_trades.json
data/species/Styrax.json
data/species/Swartzia_panacoco_threats.json
data/species/Swartzia_panacoco_trades.json
data/species/Swartzia_panacoco.json
data/species/Swietenia_humilis_threats.json
data/species/Swietenia_humilis_trades.json
data/species/Swietenia_humilis.json
data/species/Swietenia_mahagoni_threats.json
data/species/Swietenia_mahagoni_trades.json
data/species/Swietenia_mahagoni.json
data/species/Swietenia_threats.json
data/species/Swietenia_trades.json
data/species/Swietenia.json
data/species/Taxodium_distichum_threats.json
data/species/Taxodium_distichum_trades.json
data/species/Taxodium_distichum.json
data/species/Taxus_baccata_threats.json
data/species/Taxus_baccata_trades.json
data/species/Taxus_baccata.json
data/species/Terminalia_superba_threats.json
data/species/Terminalia_superba_trades.json
data/species/Terminalia_superba.json
data/species/Tetraclinis_articulata_threats.json
data/species/Tetraclinis_articulata_trades.json
data/species/Tetraclinis_articulata.json
data/species/Thuya_plicata_threats.json
data/species/Thuya_plicata_trades.json
data/species/Thuya_plicata.json
data/species/Tieghemella_africana_threats.json
data/species/Tieghemella_africana_trades.json
data/species/Tieghemella_africana.json
data/species/Tieghemella_heckelii_threats.json
data/species/Tieghemella_heckelii_trades.json
data/species/Tieghemella_heckelii.json
data/species/Tilia_americana_threats.json
data/species/Tilia_americana_trades.json
data/species/Tilia_americana.json
data/species/Tilia_cordata_threats.json
data/species/Tilia_cordata_trades.json
data/species/Tilia_cordata.json
data/species/Tilia_platyphyllos_threats.json
data/species/Tilia_platyphyllos_trades.json
data/species/Tilia_platyphyllos.json
data/species/Tilia_threats.json
data/species/Tilia_trades.json
data/species/Tilia.json
data/species/Triplochiton_scleroxylon_threats.json
data/species/Triplochiton_scleroxylon_trades.json
data/species/Triplochiton_scleroxylon.json
data/species/Umbellularia_californica_threats.json
data/species/Umbellularia_californica_trades.json
data/species/Umbellularia_californica.json
data/species/Vranus_Niloticus_threats.json
data/species/Vranus_Niloticus_trades.json
data/species/Vranus_Niloticus.json
data/species/Zollernia_ilicifolia_threats.json
data/species/Zollernia_ilicifolia_trades.json
data/species/Zollernia_ilicifolia.json
data/species/Zollernia_paraensis_threats.json
data/species/Zollernia_paraensis_trades.json
data/species/Zollernia_paraensis.json
