html {
	width: 100%;
}

body {
	padding: 20px;
	width: 100%;
}

.select-wrapper {
	margin: 5px;
}

.label {
	display: inline-block;
	font-weight: bold;
}

.array-wrapper {
	padding: 5px;
	width: 33%;
	border: 1px grey solid;
}

table, th, tr {
	border: solid 1px gray;
}

.scroll {
	height: 100%;
	width: 100%;/**/
	margin: 0;
	padding: 0;
	overflow: auto;
}

table {
	width: 100%
}

td {
	width: 25%;
}

/*.tableRow {
	height: 5em;
	width: 100%;
	display: table-row;
}*/

.tableCell {
	width: 25%;
	height: 8em;
	display: table-cell;
}

.tableHead {
	height: 1em;
	width: 25%;
}

img {
	width: 300px;
}