<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="../utils.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <!-- LEAFLET END -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" crossorigin="anonymous"/> -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <link rel="stylesheet" href="/js/leaflet-groupedlayercontrol-gh-pages/dist/leaflet.groupedlayercontrol.min.css" crossorigin="anonymous"/>
<!--     <script type="text/javascript" src="/js/leaflet-groupedlayercontrol-gh-pages/dist/leaflet.groupedlayercontrol.min.js"></script> -->
    <script type="text/javascript" src="/js/leaflet-groupedlayercontrol-gh-pages/src/leaflet.groupedlayercontrol.js"></script>

    <script type="text/javascript" src="/js/Leafletpattern-master/dist/leaflet.pattern-src.js"></script>

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- <script src="https://d3js.org/d3-selection.v1.min.js"></script> -->

    <script type="text/javascript" src="/js/utils.js"></script>
    <!-- <script type="text/javascript" src="/js/vis/map.js"></script> -->
    <script type="text/javascript" src="/js/vis/clusteredMap.js"></script>

    <link rel="stylesheet" href="/css/styles.css" crossorigin="anonymous">

    <title><%= title %></title>
</head>
<style>
</style>
<body>
<div class="page-wrapper">
<!--     <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" ><a href="/">Socka Players</a></span>
        <a class="float-right" href="/add" title="Add a New Player">Add a Player</a>
    </nav> -->