<%- include('./partials/header.ejs') %>


<div id="timelineWrapper" class="visWrapper">
	<svg id="timeline" width="960" height="200">
	</svg>
</div>

<script type="text/javascript" src="/js/vis/timeline.js"></script>
