RewriteEngine On

RewriteRule ^/telecoupling$ https://aristoteles.informatik.uni-leipzig.de:8080/ [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/telecoupling/(.*)$ https://aristoteles.informatik.uni-leipzig.de:8080/$1 [P,L]
